<a href="https://colab.research.google.com/github/turnip-python/colab/blob/master/firststep.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

pd.DataFrame([0,1,2,3,4,5])

   0
0  0
1  1
2  2
3  3
4  4
5  5